<div class="container">
  <header class="header-bar">
    <div class="site-title">BreazeInTheMoon</div>
    <button class="btn" routerLink="/login">Cerrar sesión</button>
  </header>

  <main class="hoteles-main">
    <div class="hoteles-grid">
      <a routerLink="/hotelSanAndres" class="hotel-link">
        <div class="hotel-card">
          <h3>GHL Hotel Sunrise</h3>
          <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/298757286.jpg?k=f5ea109103dd1e3bcb43a8af0b4b827636b41bf89a41820fbba8372e8ab4a3b4&amp;o=" alt="Hotel San Andrés">
          <div class="hotel-desc">
            <p>Una vista aérea de un hotel con piscina y un edificio. en GHL Hotel Sunrise, en San Andrés</p>
          </div>
        </div>
      </a>

      <a routerLink="/hotelCartagena" class="hotel-link">
        <div class="hotel-card">
          <h3>Hotel Hernández CTG</h3>
          <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/567709323.jpg?k=36429217ae2a501909947c567b5edd16f9a3d3e7164023967ebdbd582a95ef38&amp;o=" alt="Hotel Cartagena">
          <div class="hotel-desc">
            <p>Hotel Hernández CTG se encuentra en Cartagena de Indias y dispone de piscina al aire libre, terraza, bar y wifi gratis</p>
          </div>
        </div>
      </a>

      <a routerLink="/hotelSantaMarta" class="hotel-link">
        <div class="hotel-card">
          <h3>HOTEL KARAYA DIVE RESORT</h3>
          <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/447956439.jpg?k=c953b9fbda890a75791b0884adddd92963378a41fb7817a3eb5e0fc7499eba9e&amp;o=" alt="Hotel Santa Marta">
          <div class="hotel-desc">
            <p>HOTEL KARAYA DIVE RESORT, que cuenta con terraza, restaurante, bar y wifi gratis, se encuentra en Santa Marta</p>
          </div>
        </div>
      </a>
    </div>
  </main>

  <footer class="footer">
    <p>&copy; 2025 BreazeInTheMoon. Todos los derechos reservados.</p>
  </footer>
</div>
